<h4>Name</h4>
<p>{{ user.username }}</p>
<h4>Followed Teams</h4>
<ul>
  {% for team in profile.teams.all %}
  <li>{{ team.name }}</li>
  {% endfor %}
</ul>
<h4>Saved Posts</h4>
<ul>
  {% for item in profile.saved_news_items.all %}
  <li>
    {{ item.title }}
    <form action="/accounts/unsave-news-item/" method="post">
      {% csrf_token %}
      <input type="hidden" name="profile_id" value="{{ profile.id }}" />
      <input type="hidden" name="item_id" value="{{ item.id }}" />
      <input type="submit" value="UnSave" />
    </form>
  </li>
  {% endfor %}
</ul>
