<h1>Hello, {{ user.username|default:'Guest' }}!</h1>
<h1>Premier League Teams</h1>
<table>
  <tbody>
    {% for team in premier_league_teams %}
    <tr>
      <td>{{ team.name }}</td>
      <td>{{ team.country }}</td>
      <td>{{ team.founded }}</td>
      <td>
        <a href="{% url 'team' team_id=team.team_id %}">View Team Page</a>
      </td>
      <td>
        {% if team.team_id in followed_teams %}
        <a href="{% url 'unfollow' api_id=team.team_id name=team.name %}">
          UnFollow
        </a>
        {% else %}
        <a href="{% url 'follow' api_id=team.team_id name=team.name %}">
          Follow
        </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{% url 'logout' %}">Logout</a>
