{% extends "base.html" %} {% block content %}

<h1>{{ details.name }}</h1>
{% if followed %}
<a href="{% url 'follow' api_id=team.team_id  %}">
  UnFollow Team
</a>
{% else %}
<a href="{% url 'follow' api_id=team.team_id name=team.name %}">
  Follow Team
</a>
{% end %}
<table>
  {% for result in results %}
  <tr>
    <td>{{ result.homeTeam.team_name }}</td>
    <td>{{ result.score.fulltime }}</td>
    <td>{{ result.awayTeam.team_name }}</td>
  </tr>
  {% endfor %}
</table>
<h1>Top Headlines</h1>
{% for article in headlines.articles %}
<div>
  <h3>{{ article.title }}</h3>
  <p>{{ article.content }}</p>
  {% if article.title in saved_news_item_titles %}
  <form action="/teams/unsave-news-item" method="post">
    {% csrf_token %}
    <input type="hidden" name="profile_id" value="{{ user_profile_id }}" />
    <input type="hidden" name="title" value="{{ article.title }}" />
    <input type="hidden" name="team_id" value="{{ team_id }}" />
    <input type="submit" value="UnSave" />
  </form>
  {% else %}
  <form action="/teams/save-news-item" method="post">
    {% csrf_token %}
    <input type="hidden" name="profile_id" value="{{ user_profile_id }}" />
    <input type="hidden" name="title" value="{{ article.title }}" />
    <input type="hidden" name="url" value="{{ article.url }}" />
    <input type="hidden" name="source" value="{{ article.source }}" />
    <input type="hidden" name="date" value="{{ article.publishedAt }}" />
    <input type="hidden" name="team_id" value="{{ team_id }}" />
    <input type="submit" value="Save" />
  </form>
  {% endif %}
</div>
{% endfor %}
<div>
  <table>
    {% for tweet in tweets %}
    <tr>
      <td>{{ tweet.text }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
<div>
  <ul>
    {% for article in guardian_articles %}
    <li>
      <a href="{{ article.webUrl }}">{{ article.webTitle }}</a>
      {% if article.title in saved_news_item_titles %}
      <form action="/feed/unsave-news-item" method="post">
        {% csrf_token %}
        <input type="hidden" name="profile_id" value="{{ user_profile_id }}" />
        <input type="hidden" name="title" value="{{ article.title }}" />
        <input type="submit" value="UnSave" />
      </form>
      {% else %}
      <form action="/feed/save-news-item" method="post">
        {% csrf_token %}
        <input type="hidden" name="profile_id" value="{{ user_profile_id }}" />
        <input type="hidden" name="title" value="{{ article.title }}" />
        <input type="hidden" name="url" value="{{ article.url }}" />
        <input type="hidden" name="source" value="{{ article.source }}" />
        <input type="hidden" name="date" value="{{ article.publishedAt }}" />
        <input type="submit" value="Save" />
      </form>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
