.view-team-link {
    color: rgba(70, 130, 180, 0.9);
    text-decoration: none;
}

.teams-div {
    width: 85%;
}

.team-logo {
    width: auto;
    height: 75%;
}

.results-score {
    color: blue;
}

.results-header {
    color: black;
}

.tweet-handle {
    font-size: small;
}

.twitter-icon {
    color: #E1E8ED;
}

.guardian-text {
    font-size: small;
}

.tweet-text {
    font-size: small;
    color: white;
    text-decoration: none !important;
}

.tweet-text-col {
    overflow: hidden;
}